
div.cke_editor_weapon_description{
  display: none;
}

div.cke_editor_weapon_description:first-of-type{
  display: block;
}

div.cke_editor_ability_description{
  display: none;
}

div.cke_editor_ability_description:first-of-type{
  display: block;
}
