<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Információk
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Szabályzat</a></li>
        <li><a class="dropdown-item" href="#">Gyakori kérdések</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Írj az adminnak!</a></li>
    </ul>
</li>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="konyvtardropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Könyvtár <ul class="dropdown-menu">
        <li>Halápi Dávid33 <a href="#" class="dropdown-item"></a>
        </li>
        <li>Kylo Ren <a href="#" class="dropdown-item"></a>
        </li>
    </ul>
    </a>
</li>