<!--<div class="container-fluid min-vh-100 d-flex flex-column position-fixed top-0 start-0" >
        <div class="row flex-grow-1 align-items-center text-center bg-black">
            <div class="d-inline-block text-light ">
            <img src="/images/misc/loading_moon.gif" class="w-25 rounded-circle ">
            </div>
        </div>
</div>
-->
