<!DOCTYPE html>
<html>
    <%- include('./partials/head'); %>
  <body>

    <%- include('./partials/loading'); %>
    <div id="content" class="container-fluid min-vh-100 d-flex flex-column" >
        <div class="row"><%- include('./partials/navbar'); %></div>
        <div class="row flex-grow-1">
            <div class=" px-0 width-100 p-lg-5 col-12 col-lg-8 d-flex d-flex justify-content-lg-start justify-content-center">
            <main class="p-5 p-lg-3 bg-white frontpage-main w-100 bg-opacity-50">
                <h1>Üdvözöllek a Szerepjáték.net oldalán!</h1>
                <img class="align-bottom d-block d-lg-none w-25 mx-auto" src="/images/frontpage/sasuke-comm.png" alt="Sasuke" title="Sasuke" style="max-height: 90vh; max-width: 100%;">

                <p >Unod már a klasszikus régi szerepjáték oldalakat, amik egyáltalán nem motiválnak a játékra?<br>
                <strong>Ennek most vége!</strong> <br>
                Itt a Szerepjáték.net-en elhoztuk azt a rendszert, mely jutalmaz a hűségedért<br>
                Hogy hogyan is néz ki mindez? Tekints bele a videónkba!
                </p>
                <div class="justify-content-center d-flex">
                     <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/T0Y3P7GMMY4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </main>
            </div>
            <div class="col-lg-4 d-none d-lg-block align-self-end ">
                    <img class="align-bottom" src="/images/frontpage/sasuke-comm.png" alt="Sasuke" title="Sasuke" style="max-height: 90vh; max-width: 100%;">
            </div>
        </div>
    </div>
  </body>
</html>
