<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<div id="container">
</div>
<script>

var exampleSocket = new WebSocket("ws://localhost:3000", "protocolOne");

</script>

<widgetbot
  server="549938529388724233"
  channel="549938530185510923"
  width="800"
  height="600"
></widgetbot>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>