.cke_dialog_tab:nth-child(2) {
    display:none;
}

.cke_dialog_image_url {
    display: none;
}

.comment-card img{
    max-width: 100%;
    height: auto !important;
}

.mobile-character-data img{
    max-height: 50px;
}

.mobile-character-data{
    max-height: 60px;
}

.z-100{
    z-index: 100;
}