    .login-form-container{
        background-image: url("../images/misc/szlogo.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }