<%  charactersJson.forEach(function(value,key){

console.log(value);
console.log(key);
    %>
        <img src="images/profile_pictures/<%=charactersJson[key].slug %>.webp">
        <%=charactersJson[key].name%>

        <% if(charactersJson[key].slug != activeCharacter){ %>
            <form method="post">
                <input type="hidden" value="<%=charactersJson[key].slug %>" name="character">
                <input type="submit" value="<%=charactersJson[key].slug %>">
            </form>
         <% }%>

    <%
    });
%>